@import "https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css";
@import "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css";

body {
  margin:0;
}

:root {
  --geo-map-background-color: #FFFFFF;
  --geo-map-foreground-color: #000000;
  --geo-map-border-color: #2d2d2d;
  --geo-map-secondary-background-color: #000000;
  --geo-map-secondary-foreground-color: #ffffff;
  --column-footer-height: 1em;
  --column-footer-offset: 1em;
  --column-header-size: 1em;
  --column-text-color: black;
  --column-background-color: transparent;
}

geo-map {
  opacity: 0;
  margin:0;
  display:block;
  width:100vw;
  height:100vh;
  background-color:transparent;
  transition: opacity 0.5s ease-in;
}

geo-map map-container {
  position: absolute;
  display:block;
  left: 0pt;
  top: 0pt;
  width: 100%;
  height: 100%;
}

geo-map-column {
  position:absolute;
  width: 20em;
  z-index:100;
  top: var(--column-header-size);
  height:calc(100% - var(--column-footer-height) - var(--column-footer-offset) - var(--column-header-size));
  display:flex;
  flex-direction: column;
  overflow:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  color: var(--column-text-color);
  pointer-events: none;
  background-color: var(--column-background-color);
}

geo-map-column > * {
  pointer-events: all;
}

geo-map-column::-webkit-scrollbar {
  display:none;
}


geo-map-column footer {
 position: absolute;
 bottom: var(--column-footer-offset);
 height: var(--column-footer-height);
}

geo-map-column[side*="left"] {
  left:12pt;
}

geo-map-column[side*="right"] {
  right:12pt;
  z-index: 1;
}


.far .near, .middle .near {
  display: none;
}

.far .middle, .far .near {
  display: none;
}

.middle .far, .middle .near {
  display: none;
}

