@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css";
@import "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css";


geo-map {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  padding: 0pt;
}

geo-map map-container {
  position: absolute;
  left: 0pt;
  top: 0pt;
  width: 100%;
  height: 100%;

}